.container p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container div{
    width: 200px;
    height: 200px;
    border: solid;
}
@mixin flexDesign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container{
   @include flexDesign()
}
.container ul{
    @include flexDesign()
}